<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-burger">
          <svg class="burger" viewBox="0 0 100 100" width="60">
            <path class="top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
            <path d="m 30,50 h 40" />
            <path class="bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
          </svg>
          <p>Меню</p>
        </div>
      </div>
      <div class="col">
        <div class="header-btn header-btn__green"><a href="#"><img src="img/svg/header-menu.svg"><p>Смотреть меню</p></a></div>
      </div>
      <div class="col"><div class="header-logo"><a href="/"><img src="img/logo.png" alt=""></a></div></div>
      <div class="col">
        <div class="header-btn header-btn__brown"><a href="#"><img src="img/svg/header-constructor.svg"><p>Конструктор меню</p></a></div>
      </div>
      <div class="col">
        <div class="header-contact">
          <ul class="header-contact__menu">
            <li><a href="#" class="icon icon-search"></a></li>
            <li><a href="#" class="icon icon-fav"></a></li>
            <li><a href="#" class="icon icon-lk"></a></li>
            <li><a href="#" class="icon icon-cart"></a></li>
          </ul>
          <a href="tel:+7 (812) 123-45-67" class="header-contact__phone">+7 (812) 123-45-67</a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="header-menu">
  <div class="container">
    <div class="header-menu__row">
      <div class="header-menu__sidebar">
        <div class="header-menu__scroll">
          <div class="header-menu__section">
            <b>Повод</b>
            <ul class="header-menu__list">
              <li><a href="#">Пункт раздела #</a></li>
              <li><a href="#">Пункт раздела #</a></li>
              <li><a href="#">Пункт раздела #</a></li>
            </ul>
          </div>
          <div class="header-menu__section">
            <b>Кухня</b>
            <ul class="header-menu__list">
              <li><a href="#">Пункт раздела #</a></li>
              <li><a href="#">Пункт раздела #</a></li>
              <li><a href="#">Пункт раздела #</a></li>
            </ul>
          </div>
          <div class="header-menu__section">
            <b>Наборы<br> для сообытий</b>
            <ul class="header-menu__list">
              <li><a href="#">Пункт раздела #</a></li>
              <li><a href="#">Пункт раздела #</a></li>
              <li><a href="#">Пункт раздела #</a></li>
            </ul>
          </div>
          <div class="header-menu__section">
            <b>Услуги</b>
            <ul class="header-menu__list">
              <li><a href="#">Акции</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">О компании</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-menu__content">
        <div class="row">
          {% include 'common/item-set.html' %}
          {% include 'common/item-set.html' %}
          {% include 'common/item-set.html' %}
        </div>
        <div class="header-menu__all"><a href="#">Смотреть все варианты</a></div>
      </div>
    </div>
  </div>
</section>