{% set site_title = site_title | default('Title') %}
<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="language" content="Russian">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- viewport fix -->
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script>
      ! function () {
        var e = screen.width, t = document.querySelector('meta[name="viewport"]'), n = document.createElement("meta");
        n.setAttribute("name", "viewport"), n.setAttribute("content", "user-scalable=no, width=" + (e <= 475 ? "475" : "device-width")), document.head.replaceChild(n, t)
      }();
    </script>
    <!-- end viewport fix -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#e07496">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- end favicon -->
    <meta name="cmsmagazine" content="7a916982225f80c18acab18934b706a8" />
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="css/main.min.css?v=hash">
  </head>

  <body>

    <div class="bg"></div>

    <div class="wrapper">

      {% include "common/_popup.html" %}

      {% include "common/_header.html" %}

      {% block content %}{% endblock %}

      {% include "common/_footer.html" %}

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/libs.min.js?v=hash"></script>
    <script src="js/common.min.js?v=hash"></script>

  </body>

</html>