<section class="action">
  <div class="container">
    <div class="action-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><p>Акция 1</p><img src="img/content/action.jpg" alt=""></div>
        <div class="swiper-slide"><p>Акция 2</p><img src="img/content/action.jpg" alt=""></div>
        <div class="swiper-slide"><p>Акция 3</p><img src="img/content/action.jpg" alt=""></div>
        <div class="swiper-slide"><p>Акция 4</p><img src="img/content/action.jpg" alt=""></div>
      </div>
    </div>
    <div class="action-slider">
      <div class="action-control">
        <div class="action-dots"></div>
        <div class="action-next"></div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">{% include 'common/action-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/action-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/action-item.html' %}</div>
        <div class="swiper-slide">{% include 'common/action-item.html' %}</div>
      </div>
    </div>
  </div>
</section>