<div class="reason-event__slider">
  <div class="reason-event__control">
    <div class="reason-event__arrow reason-event__arrow-prev"></div>
    <div class="reason-event__count"><b class="this">1</b><b class="all"></b></div>
    <div class="reason-event__arrow reason-event__arrow-next"></div>
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">{% include 'common/reason-event__item.html' %}</div>
    <div class="swiper-slide">{% include 'common/reason-event__item.html' %}</div>
    <div class="swiper-slide">{% include 'common/reason-event__item.html' %}</div>
    <div class="swiper-slide">{% include 'common/reason-event__item.html' %}</div>
  </div>
</div>
<div class="btn-wrap"><a href="#" class="btn btn-green">Смотреть все поводы</a></div>