{% extends 'common/_layout.html' %}
{% set site_title = '404' %}

{% block content %}

<section class="page-404">
  <div class="container">
    <img src="img/page-404-1.png" class="page-404__img-1" alt="">
    <img src="img/page-404-2.png" class="page-404__img-2" alt="">
    <img src="img/page-404-3.png" class="page-404__img-3" alt="">
    <h2>Страница не найдена</h2>
    <h1>404</h1>
    <a href="/">Перейти на главную<br><img src="img/svg/404-arrow.svg" alt=""></a>
  </div>
</section>

{% endblock %}