{% extends 'common/_layout.html' %}
{% set site_title = 'О нас' %}

{% block content %}

<div class="about-bg"></div>

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>О нас</h2>
    <h3>Кейтеринг на все случаи жизни</h3>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about__cube effect"></div>
    <div class="about-text">
      <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</p>
      <p>Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий.</p>
      <img src="img/about.jpg" alt="">
    </div>
    <ul class="about-list">
      <li>Отлаженная логистика: мы всекгда приезжаем вовремя</li>
      <li>Специальное оборудование увеличивает срок хранения блюд</li>
      <li>Специальный транспорт с холодильниками</li>
      <li>Опытный персонал</li>
      <li>Упаковка по вашему желанию</li>
    </ul>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about-food">
      <div class="about-food__top">Наш девиз</div>
      <div class="about-food__left">
        <h2>Вкусная еда высшего качества и первоклассный сервис</h2>
        <img src="img/about-food.png" alt="">
      </div>
      <div class="about-food__right">
        <h3 class="about-food__title">Полный комплекс оборудования</h3>
        <div class="about-food__text">
          <p><b>Кейтеринг на все случаи жизни</b></p>
          <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</p>
          <p>Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий.</p>
        </div>
      </div>
    </div>
    <div class="about-complex">
      <div class="about-complex__left">
        <h3 class="about-food__title">Полный комплекс оборудования</h3>
        <div class="about-food__text">
          <p><b>Кейтеринг на все случаи жизни</b></p>
          <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений. Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</p>
          <p>Товарищи! сложившаяся структура организации представляет собой интересный эксперимент проверки направлений прогрессивного развития. Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий.</p>
        </div>
      </div>
      <img src="img/about-complex.png" alt="" class="about-complex__img">
    </div>
  </div>
</section>

{% endblock %}