{% extends 'common/_layout.html' %}
{% set site_title = 'Акции' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>Акции</h2>
  </div>
</section>

<section class="action-page">
  <div class="container">
    <div class="row action-list">
      {% include 'common/action-link.html' %}
      {% include 'common/action-link.html' %}
      {% include 'common/action-link.html' %}
      {% include 'common/action-link.html' %}
      {% include 'common/action-link.html' %}
      {% include 'common/action-link.html' %}
    </div>
  </div>
</section>

{% endblock %}