{% extends 'common/_layout.html' %}
{% set site_title = 'Конструктор' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>Конструктор</h2>
    <h3>Соберите свой идеальный набор</h3>
  </div>
</section>

<section class="builder-how">
  <div class="container">
    <h2 class="builder-how__title">Как это работает?</h2>
    <img src="img/builder-how.png" class="builder-how__img" alt="">
  </div>
  <div class="builder-how__gray">
    <div class="container">
      <ul class="builder-how__list">
        <li>Выберите категорию блюд в левой части</li>
        <li>Выберите интересующие вас блюда в правой части</li>
        <li>Добавьте их в набор</li>
        <li>Выберите необходимые дополнительные услуги</li>
        <li>Проверьте получившийся набор и оплатите заказ</li>
        <li>После оплаты с вами свяжется наш менеджер для подтверждения заказа</li>
      </ul>
    </div>
  </div>
</section>

<section class="builder">
  <div class="container">
    <div class="builder-row">
      <div class="builder-main">

        <div class="builder-date">
          <label class="order-label order-label-date">
            <input class="order-input order-input-date" type="date" placeholder="Выберите дату мероприятия">
            <p>Выберите дату мероприятия</p>
          </label>
          <label class="order-label">
            <input class="order-input" type="number" name="person" placeholder="Количество персон*" required />
          </label>
        </div>

        <div class="builder-dishes">
          <h3 class="builder-dishes__title">Выберите блюда которые хотите видеть видеть в меню</h3>
          <ul class="builder-dishes__list">
            <li>Холодные закуски</li>
            <li>Горячие закуски</li>
            <li>Супы</li>
            <li>Горячие блюда</li>
            <li>Выпечка</li>
            <li>Десерты</li>
            <li>Напитки алк.</li>
            <li>Напитки безалк.</li>
            <li>Особые заказы</li>
          </ul>
        </div>

        <div class="builder-selected-title"></div>

      </div>
      <div class="builder-sidebar">
        <div class="order-second-scroll">

          <div class="order-set">
            <h3>Ваш заказ:</h3>
            <h4>Набор: Название набора</h4>
            {% include 'common/item-order.html' %}
            {% include 'common/item-order.html' %}
            {% include 'common/item-order.html' %}
            <div class="order-total">
              <div class="order-total__out">
                <p>Общий выход:</p>
                <b>8,25 кг<br> 8,25 л</b>
              </div>
              <div class="order-total__out">
                <p>На человека:</p>
                <b>800 г<br> 800 мл</b>
              </div>
            </div>
          </div>

          <div class="order-service">
            <h3>Дополнительные услуги:</h3>

            <div class="order-service__title">
              <img src="img/svg/order-service-1.svg" alt="">
              <b>Посуда</b>
              <a href="#">Выбрать</a>
            </div>

            <div class="order-service__title">
              <img src="img/svg/order-service-2.svg" alt="">
              <b>Аренда оборудования</b>
              <a href="#">Выбрать</a>
            </div>

            <div class="order-service__title">
              <img src="img/svg/order-service-3.svg" alt="">
              <b>Аренда мебели</b>
              <a href="#">Выбрать</a>
            </div>

            <div class="order-service__title">
              <img src="img/svg/order-service-4.svg" alt="">
              <b>Аренда текстиля</b>
              <a href="#">Выбрать</a>
            </div>

            <div class="order-service__title">
              <img src="img/svg/order-service-5.svg" alt="">
              <b>Персонал</b>
              <a href="#">Выбрать</a>
            </div>
          </div>

          <div class="order-out">ИТОГ<span>120 000 ₽</span></div>

          <div class="btn-wrap"><a href="#" class="btn btn-pink">Оформить заказ</a></div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}