{% extends 'common/_layout.html' %}
{% set site_title = 'Конструктор' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>Конструктор</h2>
    <h3>Соберите свой идеальный набор</h3>
  </div>
</section>

<section class="builder-how">
  <div class="container">
    <h2 class="builder-how__title">Как это работает?</h2>
    <img src="img/builder-how.png" class="builder-how__img" alt="">
  </div>
  <div class="builder-how__gray">
    <div class="container">
      <ul class="builder-how__list">
        <li>Выберите категорию блюд в левой части</li>
        <li>Выберите интересующие вас блюда в правой части</li>
        <li>Добавьте их в набор</li>
        <li>Выберите необходимые дополнительные услуги</li>
        <li>Проверьте получившийся набор и оплатите заказ</li>
        <li>После оплаты с вами свяжется наш менеджер для подтверждения заказа</li>
      </ul>
    </div>
  </div>
</section>

<div id="builder-filter">{% include 'common/catalog-sidebar.html' %}</div>

<section class="builder">
  <div class="container">
    <div class="builder-row">
      <div class="builder-main">

        <div class="builder-date">
          <label class="order-label order-label-date">
            <input class="order-input order-input-date" type="date" placeholder="Выберите дату мероприятия">
            <p>Выберите дату мероприятия</p>
          </label>
          <label class="order-label">
            <input class="order-input" type="number" name="person" placeholder="Количество персон*" required />
          </label>
        </div>

        <div class="builder-dishes">
          <h3 class="builder-dishes__title">Выберите блюда которые хотите видеть видеть в меню</h3>
          <ul class="builder-dishes__list">
            <li>Холодные закуски</li>
            <li>Горячие закуски</li>
            <li>Супы</li>
            <li>Горячие блюда</li>
            <li>Выпечка</li>
            <li>Десерты</li>
            <li>Напитки алк.</li>
            <li>Напитки безалк.</li>
            <li>Особые заказы</li>
          </ul>
        </div>

        <div class="builder-control">
          <div class="builder-filter__btn" data-fancybox data-src="#builder-filter">Фильтр</div>
          {# <ul class="builder-pagination">
            <li class="builder-pagination__arrow builder-pagination__prev"><a href="#"></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>...</li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li class="builder-pagination__arrow builder-pagination__next"><a href="#"></a></li>
          </ul> #}
        </div>

        <h2 class="builder-selected-title"></h2>

        <div class="builder-item-row">
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
        </div>

        <div class="btn-wrap catalog-load"><a href="#" class="btn btn-pink">Загрузить еще (56)</a></div>

        <h2 class="builder-service-title">Дополнительные услуги:</h2>

        <ul class="builder-service__list">
          <li data-service-id="1">Посуда</li>
          <li data-service-id="2">Оборудование</li>
          <li data-service-id="3">Мебель</li>
          <li data-service-id="4">Текстиль</li>
          <li data-service-id="5">Персонал</li>
        </ul>

        <div class="builder-item-row">
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
          {% include 'common/item-builder.html' %}
        </div>

        <div class="btn-wrap catalog-load"><a href="#" class="btn btn-pink">Загрузить еще (56)</a></div>

      </div>

      <div class="builder-sidebar__open">Посмотреть состав набора</div>
      <div class="builder-sidebar__bg"></div>
      
      <div class="builder-sidebar">
        <div class="order-second-scroll">

          <div class="order-comp">
            <h3>Состав набора:</h3>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Холодные закуски</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content">
                {% include 'common/item-order.html' %}
                {% include 'common/item-order.html' %}
              </div>
            </div>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Супы</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content">
                {% include 'common/item-order.html' %}
              </div>
            </div>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Горячие блюда</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content"></div>
            </div>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Холодные закуски</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content"></div>
            </div>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Десерты</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content"></div>
            </div>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Выпечка</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content"></div>
            </div>

            <div class="order-comp__section">
              <div class="order-comp__section-head">
                <h4>Напитки</h4>
                <div class="order-comp__section-info">
                  <div class="order-comp__section-add">Добавить в меню</div>
                  <div class="order-comp__section-all">
                    <p>Выбрано пунктов: <span></span></p>
                    <div class="order-comp__section-delete">Очистить</div>
                  </div>
                </div>
              </div>
              <div class="order-comp__section-none">Ничего не выбрано</div>
              <div class="order-comp__section-content"></div>
            </div>

            <div class="order-total">
              <div class="order-total__out">
                <p>Общий выход:</p>
                <b>8,25 кг<br> 8,25 л</b>
              </div>
              <div class="order-total__out">
                <p>На человека:</p>
                <b>800 г<br> 800 мл</b>
              </div>
            </div>
          </div>

          <div class="order-service">
            <h3>Дополнительные услуги:</h3>

            <div class="order-service__title">
              <img src="img/svg/order-service-1.svg" alt="">
              <b>Посуда</b>
              <a href="javascript:;" data-service-id="1">Выбрать</a>
            </div>
            
            <div class="order-service__mes">*Дополнительная смена посуды - нажмите <b>x2</b></div>

            <div class="order-service__list">

              <div class="order-service__item">
                <p>Тарелка закусочная</p>
                <div class="order-service__item-info">
                  <div class="item-count">
                    <div class="item-count__minus">-</div>
                    <input type="number" class="item-count__number" value="1" />
                    <div class="item-count__plus">+</div>
                  </div>
                  <label><input type="checkbox" /><p></p><b>x2</b></label>
                  <b>12 030 ₽</b>
                  <div class="order-service__item-del"></div>
                </div>
              </div>

              <div class="order-service__item">
                <p>Тарелка закусочная</p>
                <div class="order-service__item-info">
                  <div class="item-count">
                    <div class="item-count__minus">-</div>
                    <input type="number" class="item-count__number" value="1" />
                    <div class="item-count__plus">+</div>
                  </div>
                  <label><input type="checkbox" /><p></p><b>x2</b></label>
                  <b>12 030 ₽</b>
                  <div class="order-service__item-del"></div>
                </div>
              </div>

              <div class="order-service__item">
                <p>Тарелка закусочная</p>
                <div class="order-service__item-info">
                  <div class="item-count">
                    <div class="item-count__minus">-</div>
                    <input type="number" class="item-count__number" value="1" />
                    <div class="item-count__plus">+</div>
                  </div>
                  <label><input type="checkbox" /><p></p><b>x2</b></label>
                  <b>12 030 ₽</b>
                  <div class="order-service__item-del"></div>
                </div>
              </div>

            </div>

            <div class="order-service__title">
              <img src="img/svg/order-service-2.svg" alt="">
              <b>Аренда оборудования</b>
              <a href="javascript:;" data-service-id="2">Выбрать</a>
            </div>

            <div class="order-service__list"></div>

            <div class="order-service__title">
              <img src="img/svg/order-service-3.svg" alt="">
              <b>Аренда мебели</b>
              <a href="javascript:;" data-service-id="3">Выбрать</a>
            </div>

            <div class="order-service__list"></div>

            <div class="order-service__title">
              <img src="img/svg/order-service-4.svg" alt="">
              <b>Аренда текстиля</b>
              <a href="javascript:;" data-service-id="4">Выбрать</a>
            </div>

            <div class="order-service__list"></div>

            <div class="order-service__title">
              <img src="img/svg/order-service-5.svg" alt="">
              <b>Персонал</b>
              <a href="javascript:;" data-service-id="5">Выбрать</a>
            </div>

            <div class="order-service__list"></div>

          </div>

          <div class="order-out">ИТОГ<span>120 000 ₽</span></div>

          <div class="btn-wrap"><a href="#" class="btn btn-pink">Оформить заказ</a></div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}