{% extends 'common/_layout.html' %}
{% set site_title = 'Конструктор' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>Конструктор</h2>
    <h3>Соберите свой идеальный набор</h3>
  </div>
</section>

<section class="builder-how">
  <div class="container">
    <h2 class="builder-how__title">Как это работает?</h2>
    <img src="img/builder-how.png" class="builder-how__img" alt="">
  </div>
  <div class="builder-how__gray">
    <div class="container">
      <ul class="builder-how__list">
        <li>Выберите категорию блюд в левой части</li>
        <li>Выберите интересующие вас блюда в правой части</li>
        <li>Добавьте их в набор</li>
        <li>Выберите необходимые дополнительные услуги</li>
        <li>Проверьте получившийся набор и оплатите заказ</li>
        <li>После оплаты с вами свяжется наш менеджер для подтверждения заказа</li>
      </ul>
    </div>
  </div>
</section>

<section class="builder">
  <div class="container">
    <div class="builder-row">
      <div class="builder-main">1</div>
      <div class="builder-sidebar">2</div>
    </div>
  </div>
</section>

{% endblock %}