{% extends 'common/_layout.html' %}
{% set site_title = 'Доставка' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>Доставка</h2>
    <h3>Телефон приёма заявок: +7 (812) 123-45-67</h3>
  </div>
</section>

<section class="delivery-time">
  <div class="container">
    <div class="delivery-time__row">
      <div class="delivery-time__item">
        <h2>Время приема заказов</h2>
        <p>каждый день с 9 до 20 часов</p>
      </div>
      <div class="delivery-time__item">
        <h2>Время доставки заказов</h2>
        <p>каждый день с 9 до 20 часов</p>
      </div>
      <div class="delivery-time__warning">Обращаем ваше внимание, что заказы принимаются не менее, чем за сутки!</div>
    </div>
  </div>
</section>

<section class="delivery-article">
  <div class="container">
    <div class="delivery-article__item">
      <div class="delivery-article__text">
        <h2>Безопасная доставка</h2>
        <p>Мы принимаем дополнительные меры, чтобы обеспечить безопасность своих клиентов и сотрудников от распространения вирусных инфекций. Все наши сотрудники регулярно проходят медосмотр, работают только в перчатках и масках и используют антисептик. Сотрудники с симптомами ОРВИ и гриппа к работе не допускаются. Продукты проходят несколько стадий очистки. Служебные помещения, кухня и оборудование моются два раза в сутки, два раза в неделю проводится уборка с полной остановкой процессов производства.</p>
      </div>
      <img src="img/content/delivery.jpg" alt="" class="delivery-article__img">
    </div>
    <div class="delivery-article__item">
      <div class="delivery-article__text">
        <h2>Безопасная доставка</h2>
        <p>Мы принимаем дополнительные меры, чтобы обеспечить безопасность своих клиентов и сотрудников от распространения вирусных инфекций. Все наши сотрудники регулярно проходят медосмотр, работают только в перчатках и масках и используют антисептик. Сотрудники с симптомами ОРВИ и гриппа к работе не допускаются. Продукты проходят несколько стадий очистки. Служебные помещения, кухня и оборудование моются два раза в сутки, два раза в неделю проводится уборка с полной остановкой процессов производства.</p>
      </div>
      <img src="img/content/delivery.jpg" alt="" class="delivery-article__img">
    </div>
  </div>
</section>

<section class="delivery-price">
  <div class="container">
    <h2>Стоимость доставки заказа зависит от зоны:</h2>
    <div class="delivery-price__row">

      <div class="delivery-price__item" style="background:#E07496;">
        <h3>Зона 1</h3>
        <div class="delivery-price__text">
          <p>В паределах зоны КАД, В паределах зоны КАД В паределах зоны КАД, В паределах зоны КАД В паределах зоны КАДВ паределах зоны КАД</p>
        </div>
        <div class="delivery-price__bonus">
          <p>До 5 000 р. - 500 р.</p>
          <p>От 5 000 р. - 250 р.</p>
        </div>
      </div>

      <div class="delivery-price__item" style="background:#A5B96E;">
        <h3>Зона 2</h3>
        <div class="delivery-price__text">
          <p>В паределах зоны КАД, В паределах зоны КАД В паределах зоны КАД, В паределах зоны КАД В паределах зоны КАДВ паределах зоны КАД</p>
        </div>
        <div class="delivery-price__bonus">
          <p>До 5 000 р. - 500 р.</p>
          <p>От 5 000 р. - 250 р.</p>
        </div>
      </div>

      <div class="delivery-price__item" style="background:#C85377;">
        <h3>Зона 3</h3>
        <div class="delivery-price__text">
          <p>В паределах зоны КАД, В паределах зоны КАД В паределах зоны КАД, В паределах зоны КАД В паределах зоны КАДВ паределах зоны КАД</p>
        </div>
        <div class="delivery-price__bonus">
          <p>До 5 000 р. - 500 р.</p>
          <p>От 5 000 р. - 250 р.</p>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}