{% extends 'common/_layout.html' %}
{% set site_title = 'Корзина' %}

{% block content %}

<section class="head">
  <div class="container">
    <ul class="head-breadcrumbs">
      <li><a href="#">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <h2>Корзина</h2>
    <h3>Оформление заказа:</h3>
  </div>
</section>

<section class="order">
  <div class="container">

    <div class="order-main">
      <div class="order-section">
        <h2>Информация о мероприятии</h2>
        <label class="order-label order-label-date">
          <input class="order-input order-input-date" type="date" placeholder="Выберите дату мероприятия">
          <p>Выберите дату мероприятия</p>
        </label>
        <label class="order-label">
          <input class="order-input" type="number" name="person" placeholder="Количество персон*" required />
        </label>
      </div>
      <div class="order-section">
        <h2>Контактные данные</h2>
        <a href="#" class="order-link">Уже заказывали у нас?</a>
        <label class="order-label">
          <input class="order-input" type="text" name="name" placeholder="Ваше ФИО*" required />
        </label>
        <label class="order-label">
          <input class="order-input masked" type="tel" name="phone" placeholder="Телефон*" required />
        </label>
        <label class="order-label">
          <input class="order-input" type="email" name="email" placeholder="E-mail*" required />
        </label>
        <label class="order-checkbox order-checkbox-pass">
          <input type="checkbox" />
          <p>Стать постоянным покупателем</p>
        </label>
        <label class="order-label order-label-pass">
          <input class="order-input" type="password" name="pass" placeholder="Пароль" />
        </label>
        <label class="order-label order-label-pass">
          <input class="order-input" type="password" name="repass" placeholder="Повторить пароль" />
        </label>
      </div>
      <div class="order-section">
        <h2>Доставка</h2>
        <a href="#" class="order-link">Подробнее о доставке</a>
        <label class="order-label">
          <input class="order-input" type="text" name="city" placeholder="Населенный пункт*" required />
        </label>
        <label class="order-label">
          <input class="order-input" type="text" name="street" placeholder="Улица" />
        </label>
        <div class="order-label-group">
          <label class="order-label">
            <input class="order-input" type="text" name="" placeholder="Дом" />
          </label>
          <label class="order-label">
            <input class="order-input" type="text" name="" placeholder="Корпус" />
          </label>
          <label class="order-label">
            <input class="order-input" type="text" name="" placeholder="Лит." />
          </label>
        </div>
        <div class="order-label-group">
          <label class="order-label">
            <input class="order-input" type="text" name="" placeholder="Пом." />
          </label>
          <label class="order-label">
            <input class="order-input" type="text" name="" placeholder="Парадная" />
          </label>
          <label class="order-label">
            <input class="order-input" type="text" name="" placeholder="Этаж" />
          </label>
        </div>
        <textarea class="order-textarea" name="com_address" placeholder="Комментрий к адресу"></textarea>
      </div>
      <div class="order-section">
        <h2>Дополнительно</h2>
        <textarea class="order-textarea" name="com_order" placeholder="Комментрий к заказу"></textarea>
      </div>
    </div>

    <div class="order-second">
      <div class="order-second-scroll">

        <div class="order-payment">
          <ul class="order-payment__list">
            <li>
              <p>Еда</p>
              <b>80 000 ₽</b>
            </li>
            <li>
              <p>Доп. услуги</p>
              <b>30 000 ₽</b>
            </li>
            <li>
              <p>Доставка</p>
              <b>2 000 ₽</b>
            </li>
            <li>
              <p>Скидка по промокоду:</p>
              <b>- 200 ₽</b>
            </li>
            <li>
              <p>ИТОГ</p>
              <b>120 000 ₽</b>
            </li>
          </ul>
          <div class="btn-wrap"><a href="#" class="btn btn-pink">Оплатить заказ</a></div>
        </div>

        <div class="order-promo">
          <b>Промокод</b>
          <div class="order-promo__group">
            <input type="text" name="promocode" />
            <button>Применить</button>
          </div>
          <p class="success show">Промокод применен!</p>
          <p class="error">Промокод не найден!</p>
        </div>

        <div class="order-set">
          <h3>Ваш заказ:</h3>
          <h4>Набор: Название набора</h4>
          {% include 'common/item-order.html' %}
          {% include 'common/item-order.html' %}
          {% include 'common/item-order.html' %}
          <div class="order-total">
            <div class="order-total__out">
              <p>Общий выход:</p>
              <b>8,25 кг<br> 8,25 л</b>
            </div>
            <div class="order-total__out">
              <p>На человека:</p>
              <b>800 г<br> 800 мл</b>
            </div>
          </div>
        </div>

        <div class="order-service">
          <h3>Дополнительные услуги:</h3>

          <div class="order-service__title">
            <img src="img/svg/order-service-1.svg" alt="">
            <b>Посуда</b>
            <a href="#">Выбрать</a>
          </div>

          <div class="order-service__title">
            <img src="img/svg/order-service-2.svg" alt="">
            <b>Аренда оборудования</b>
            <a href="#">Выбрать</a>
          </div>

          <div class="order-service__title">
            <img src="img/svg/order-service-3.svg" alt="">
            <b>Аренда мебели</b>
            <a href="#">Выбрать</a>
          </div>

          <div class="order-service__title">
            <img src="img/svg/order-service-4.svg" alt="">
            <b>Аренда текстиля</b>
            <a href="#">Выбрать</a>
          </div>

          <div class="order-service__title">
            <img src="img/svg/order-service-5.svg" alt="">
            <b>Персонал</b>
            <a href="#">Выбрать</a>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>

{% endblock %}