@media (max-width: 1199px)
  .container
    max-width: 1024px

  .builder-take__text h2,
  .action-item__img h4,
  .catering-format h2,
  .any-kitchen h2,
  .services-title,
  .reason-event__item h2,
  .client h2,
  .make-order h2,
  .make-order__or h3,
  .card-rec h2
    font-size: 48px

  .promo-content__title
    font-size: 70px
    min-height: 160px
  .promo-content__badge
    margin-left: 0
  .promo-content__desc
    margin-left: 50px
    margin-top: 40px
  .promo-slider img
    width: 450px
  .promo-slider
    height: 475px
    top: 80px
  .promo-slider__next
    left: calc(50% + 245px + 25px)
  .promo
    height: 500px

  .bestmenu form
    padding: 40px 30px
  .bestmenu h3
    font-size: 27px
    max-width: 190px
  .bestmenu-form
    width: calc(100% - 190px - 20px)
    margin-top: 0

  .action-item__img
    width: 490px
  
  .any-kitchen__grid,
  .reason-event__grid
    @include flexbox
    align-items: flex-start
    margin: 0 -10px
    li
      position: relative !important
      top: initial !important
      left: initial !important
      right: initial !important
      bottom: initial !important
      width: calc(100% / 2 - 20px) !important
      height: 300px !important
      margin: 20px 10px 0 !important
      img
        height: 100% !important
        width: 100% !important
        margin: 0 !important
      h4
        position: absolute !important
        bottom: 20px !important
        left: 20px !important
        top: initial !important
        right: initial !important
        padding: 10px !important
        font-size: 18px !important
        color: $color-dark-green !important
        background: #e0edbe !important
  .any-kitchen__control
    bottom: 22px
    width: auto
    margin-left: auto
  .any-kitchen__item
    height: auto
  .any-kitchen__item .btn-wrap
    position: initial
    margin-top: 20px
  
  .any-kitchen h2
    position: relative

  .catering-format
    margin-top: 80px
  .catering-format__slider,
  .catering-format__control,
  .catering-format .btn-wrap
    margin-top: 30px

  .any-kitchen
    padding: 80px 0
  .services-title
    padding-bottom: 20px
    max-width: 100% 
  .services-list
    width: 100%
    padding: 0
    justify-content: space-between
  .services-list li
    margin-top: 20px

  .services-home
    padding-bottom: 80px

  .partner-home
    padding-bottom: 100px

  .reason-event__item
    height: auto
  .reason-event__item h2
    margin-left: 0
    position: initial
  .reason-event__control
    top: 0
    right: 0
  .reason-event .btn-wrap
    margin-top: 30px
    margin-right: 0

  .client
    padding: 80px 0 60px
  .client-slider
    margin-top: 40px

  .best-list
    @include flexbox
    align-items: flex-start
    height: auto
    margin: 0 -10px
    li
      width: calc(100% / 2 - 20px)
      height: 300px !important
      position: relative !important
      top: 0 !important
      left: 0 !important
      margin: 20px 10px 0
      &:nth-child(3)
        width: 100%
        
      img
        width: 100% !important
        height: 100% !important
      p
        width: auto !important
        padding: 10px !important
        margin: 0 !important
        left: 10px !important
        right: 10px !important
        top: initial !important
        position: absolute !important
        bottom: 10px !important
        color: $color-white !important
        background: $color-green !important
        font-size: 18px !important
        text-transform: none !important
        border: 0 !important
        line-height: 1.3 !important
        b
          color: $color-white !important
  
  .make-order
    padding: 80px 0

  .menu-other__link li a
    height: 60px
  .menu-other__link li a img
    height: 32px
    margin-right: 10px
  .menu-other__link li a
    padding: 0 15px
    font-size: 14px
  .menu-other__link li
    margin-top: 20px
    margin-right: 20px

  .catalog-row .catalog-sidebar
    width: 240px
  .catalog-main
    width: calc(100% - 240px - 20px)

  .card-tags
    width: 290px
  .card-tags__section b
    width: 100%
    margin-right: 0
  .card-tags__section ul
    width: 100%
  .card-tags__section ul li
    margin-right: 10px
    margin-top: 5px
    margin-bottom: 0
  .card-tags__section
    padding-bottom: 15px
    &:last-child
      padding-bottom: 0

  .card-wrap
    width: calc(100% - 290px)
    height: auto
  .card-photo
    width: 100%
    height: 300px
  .card-info
    width: 100%
  .card .container
    align-items: flex-start
  .card-info__btn
    flex-direction: row
    margin-top: 20px
  .card-edit
    margin-top: 0
  .card-info__btn .item-buy
    padding: 9px 20px 9px 15px
    margin-right: 20px

  .card-menu-title h3
    width: 100%
  .card-menu-title p
    margin-left: 0
    margin-right: 20px
    margin-top: 15px

  .favorites-list .item 
    margin-left: 10px
    margin-right: 10px
    width: calc(100% / 4 - 20px)
  .favorites-list
    margin: 0 -10px

  .favorites-tabs
    font-size: 18px
  .favorites-tabs li
    padding-bottom: 10px
    margin-right: 40px

  .about-food__left h2
    font-size: 48px

  .about-food__left
    width: 500px
    padding-right: 30px
  .about-food__right
    padding-left: 30px
    width: calc(100% - 500px)
  
  .about-complex__img
    top: -50px

  .builder-main
    width: 560px

  .builder-item
    width: calc(100% / 2 - 30px)

  .contact-form
    width: 400px

  .action-page__img
    height: 360px