@media (max-width: 767px)
  .container
    max-width: 576px

  .header
    .col
      &:nth-child(2),
      &:nth-child(4)
        display: none
  .header-logo img
    height: 60px

  .bestmenu-form button
    margin-top: 20px
  
  .catering-format .btn-wrap
    justify-content: flex-start

  .catering-format__item
    font-size: 14px
  .catering-format__item
    height: 300px
  .catering-format__wrap
    width: 190px

  .any-kitchen__grid li, .reason-event__grid li,
  .best-list li
    height: 220px !important

  .reason-event__item h2
    max-width: 340px

  .make-order__or h3
    font-size: 32px
    margin-right: auto

  .menu-item
    height: 200px !important

  .catalog-tags li
    margin-right: 10px
    margin-bottom: 10px
  .catalog-tags
    margin-right: -10px
  .catalog-main .item
    width: calc(100% / 2 - 20px)

  .catalog-banner__constructor,
  .catalog-banner__menu
    padding: 20px
  .catalog-banner__constructor img
    width: 64px
    margin-right: 20px
  .catalog-banner__constructor h2,
  .catalog-banner__menu h2
    font-size: 18px
  
  .catalog-banner__menu h2
    max-width: 300px

  .card-wrap, .card-tags
    width: 100%
  
  .card-tags
    order: 1
    margin-top: 15px
  
  .card-service
    width: 100%
  
  .card-service ul
    max-width: 100%
  .card-service ul li span
    text-align: right

  .favorites-list .item,
  .action-list .action-link
    width: calc(100% / 2 - 20px)

  .action-page__img
    height: 220px

  .about-list li
    width: calc(100% / 2 - 10px)

  .about-complex__img
    position: relative
    margin: 40px auto 0
  
  .about-complex__left
    width: 100%

  .delivery-time__warning
    margin-top: 20px

  .footer-col:first-child
    width: calc(100% - 200px)
    margin-right: auto

  .search h3,
  .search h4
    font-size: 18px
  
  .page-404
    padding: 60px 0
    h2
      font-size: 18px
    h1
      font-size: 120px

  .page-404__img-1,
  .page-404__img-2,
  .page-404__img-3
    transform: scale(0.7)