.builder
  padding: 50px 0 80px
  &-how
    &__title
      text-transform: uppercase
      font-size: 24px
      font-weight: 600
    &__gray
      background: #e7e7e7
      padding: 30px 0
      margin-top: 35px
    &__list
      @include flexbox
      align-items: flex-start
      justify-content: space-between
      text-align: center
      counter-reset: builder-how
      li
        flex: 1
        max-width: 165px
        font-size: 14px
        font-weight: 300
        &::before
          counter-increment: builder-how
          content: counter(builder-how)
          display: block
          width: 100%
          font-size: 64px
          font-weight: 700
          color: #788E39
          margin-bottom: 10px
    &__img
      position: absolute
      bottom: -35px
      right: 80px
  
  &-row
    @include flexbox
    // align-items: flex-start
  &-main
    width: 760px
    background: red
  &-sidebar
    width: 450px
    margin-left: auto
    margin-right: -40px
    @include flexbox
    align-items: flex-start
    flex-direction: column