.builder
  padding: 50px 0 80px
  &-how
    &__title
      text-transform: uppercase
      font-size: 24px
      font-weight: 600
    &__gray
      background: #e7e7e7
      padding: 30px 0
      margin-top: 35px
    &__list
      @include flexbox
      align-items: flex-start
      justify-content: space-between
      text-align: center
      counter-reset: builder-how
      li
        flex: 1
        max-width: 165px
        font-size: 14px
        font-weight: 300
        &::before
          counter-increment: builder-how
          content: counter(builder-how)
          display: block
          width: 100%
          font-size: 64px
          font-weight: 700
          color: #788E39
          margin-bottom: 10px
    &__img
      position: absolute
      bottom: -35px
      right: 80px
  
  &-row
    @include flexbox
    // align-items: flex-start
  &-main
    width: 760px
  &-sidebar
    width: 450px
    margin-left: auto
    margin-right: -40px
    @include flexbox
    align-items: flex-start
    flex-direction: column

  &-date
    @include flexbox
    align-items: flex-start
    .order-label
      margin: 0
      max-width: 290px
      width: 100%
    .order-label-date
      flex: 1
      max-width: initial
      margin-right: 40px

  &-dishes
    margin-top: 50px
    &__title
      text-transform: uppercase
      font-weight: 600
      font-size: 24px
    &__list
      color: #828282
      font-size: 14px
      font-weight: 300
      @include flexbox
      align-items: flex-start
      margin-right: -40px
      li
        margin-top: 30px
        margin-right: 40px
        cursor: pointer
        border-bottom: 1px solid transparent
        transition: .2s
        &.active
          color: #a5b96e
          border-bottom: 1px solid #A5B96E
        &:hover
          color: #a5b96e

  &-selected-title
    font-size: 48px
    font-weight: 300
    margin-top: 30px

  &-service
    &-title
      font-size: 48px
      font-weight: 300
      margin-top: 75px
    &__list
      @include flexbox
      align-items: flex-start
      margin-right: -60px
      margin-top: 20px
      li
        cursor: pointer
        font-size: 14px
        font-weight: 300
        padding: 10px 0
        margin-right: 60px
        border-bottom: 4px solid transparent
        transition: .3s
        &:hover
          color: #788e39
        &.active
          color: #788e39
          border-bottom: 4px solid #788E39
  &-item
    margin-right: 30px
    margin-top: 30px
    width: calc(100% / 3 - 30px)
    .item-pic
      height: 190px
    .item-price
      margin: 0
    &-row
      @include flexbox
      align-items: flex-start
      margin-right: -30px
    &-add
      position: absolute
      bottom: 0
      right: 0
      width: 24px
      height: 24px
      border-radius: 100%
      background: #e07496
      z-index: 5
      cursor: pointer
      &::before, &::after
        content: ''
        width: 2px
        height: 14px
        background: #fff
        position: absolute
        top: 5px
        left: 11px
      &::after
        transform: rotate(90deg)