.catalog
  padding-bottom: 80px
  &-row
    @include flexbox
    align-items: flex-start
  &-sidebar
    width: 270px
    position: relative
    &__range
      padding-bottom: 15px
      .irs--flat .irs-bar,
      .irs--flat .irs-line
        height: 6px
      .irs--flat .irs-handle
        height: 12px
        width: 12px
      .irs--flat .irs-handle>i:first-child
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 100%
        height: 100%
        margin: 0
        border-radius: 100%
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px #C44A6F
      .irs--flat .irs-bar,
      .irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to,
      .irs--flat .irs-handle>i:first-child
        background-color: $color-pink
      .irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before
        border-top-color: $color-pink
    &__btn
      position: absolute
      z-index: 100
      border: 0
      cursor: pointer
      right: -120px
      width: 120px
      height: 46px
      border-radius: 10px
      background: $color-pink
      color: $color-white
      font-size: 16px
      font-weight: 600
      display: none
      margin-top: -15px
      &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        margin: auto 0
        left: -6px
        width: 16px
        height: 16px
        background: $color-pink
        transform: rotate(45deg)
    &__reset
      margin-bottom: 20px
      font-size: 14px
      color: $color-gray
      text-decoration: underline
      text-align: center
      cursor: pointer
    &__item
      border-radius: 50px
      background: $color-dark-green
      padding: 0 30px
      color: $color-white
      margin-bottom: 20px
      transition: .2s
      &.open
        background: $color-green
        .catalog-sidebar__title-toggle::before
          filter: none
          transform: rotate(0deg)
    &__title
      font-weight: 600
      padding: 15px 0
      &-toggle
        cursor: pointer
        position: relative
        &::before
          content: ''
          position: absolute
          top: 0
          right: 0
          bottom: 0
          margin: auto 0
          width: 8px
          height: 7px
          background: url(../img/svg/catalog-sidebar-arrow.svg) no-repeat
          filter: brightness(0) invert(1)
          transform: rotate(90deg)
          transition: .2s
    &__content
      display: none
      padding-bottom: 30px
      label
        display: block
        margin-bottom: 20px
        cursor: pointer
        &:last-child
          margin-bottom: 0
        input
          @include visually-hidden
          &:checked + p::before
            background: $color-pink
        p
          font-size: 14px
          position: relative
          padding-left: 20px
          &::before
            content: ''
            position: absolute
            top: 2px
            left: 0
            width: 12px
            height: 12px
            background: $color-dark-green
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
  &-main
    width: calc(100% - 270px - 55px)
    margin-left: auto
    .item
      width: calc(100% / 3 - 20px)
      margin-left: 10px
      margin-right: 10px
  &-action
    margin-top: 35px
    overflow: hidden
    position: relative
    &__arrow
      position: absolute
      top: 0
      bottom: 0
      width: 36px
      height: 36px
      margin: auto 0
      border-radius: 100%
      background: $color-white url(../img/svg/catalog-action-arrow.svg) no-repeat center right 9px
      background-size: 14px auto
      cursor: pointer
      z-index: 10
      transition: .2s
      box-shadow: 0 0 5px 5px rgba(0,0,0,.15)
      &-prev
        left: 0
        transform: rotate(180deg) translateX(120%)
        &.swiper-button-disabled
          transform: rotate(180deg) translateX(120%)
      &-next
        right: 0
        transform: translateX(120%)
        &.swiper-button-disabled
          transform: translateX(120%)
    &:hover
      .catalog-action__arrow-prev
        transform: rotate(180deg) translateX(-10px)
        &.swiper-button-disabled
          transform: rotate(180deg) translateX(120%)
      .catalog-action__arrow-next
        transform: translateX(-10px)
        &.swiper-button-disabled
          transform: translateX(120%)
  &-seo
    margin-top: 35px
    color: #4f4f4f
    font-size: 14px
    font-weight: 300

  &-tags
    @include flexbox
    align-items: flex-start
    margin-right: -20px
    li
      cursor: pointer
      display: block
      padding: 7px 20px 9px
      border: 1px solid $color-pink
      color: $color-pink
      border-radius: 20px
      font-size: 14px
      margin-right: 20px
      margin-bottom: 20px
      transition: .2s
      &:hover, &.active
        color: $color-white
        background: $color-pink
      // &.disabled
      //   border: 1px solid $color-pink !important
      //   color: $color-pink !important
      //   background: $color-white !important
  &-top
    @include flexbox
    align-items: center
    justify-content: space-between
    &__label
      @include flexbox
      align-items: center
      margin-top: 10px
      p
        font-size: 14px
        color: $color-gray
        padding-right: 10px
      select
        border: 0
        border-radius: 0
        background: transparent 
        color: $color-gray
        text-decoration: underline
        font-weight: 600
        cursor: pointer
        appearance: none
  &-load
    margin-top: 50px
    justify-content: center

  &-banner
    &__constructor
      padding: 20px 70px
      margin-bottom: 25px
      padding-left: 100px
      background: #F98EB0
      border-top: 4px solid #DF7495
      border-bottom: 4px solid #DF7495
      border-radius: 70px
      color: #DD678C
      @include flexbox
      align-items: center
      h2
        flex: 1
        font-size: 24px
        font-weight: 700
      img
        margin-right: 50px
        width: 90px
    &__menu
      padding: 35px 70px
      background: #b7cc7e
      border-top: 4px solid $color-green
      border-bottom: 4px solid $color-green
      border-radius: 70px
      color: $color-dark-green
      @include flexbox
      align-items: center
      justify-content: space-between
      width: 100%
      margin: 35px 10px 0
      h2
        max-width: 400px
        font-size: 24px
        font-weight: 700
      a
        @include flexbox
        align-items: center
        &:hover
          img
            filter: brightness(0) invert(1)
          b
            color: $color-white
            border-bottom: 1px solid $color-white
      img
        margin-right: 20px
      b
        font-weight: 600
        border-bottom: 1px solid $color-dark-green


.catalog-filter__btn
  display: none !important